@font-face {
  font-family: ArcadeClassic;
  src: url(ARCADECLASSIC.TTF);
}

body {
  font-family: ArcadeClassic;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  color: orange;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  padding: 16px;
}

ul {
  margin: 16px 15%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

button {
  font-family: ArcadeClassic;
  padding: 8px 16px;
  font-size: larger;
  background-color: black;
  color: red;
  border-radius: 6px;
}

#round-message {
  text-align: center;
  font-size: x-large;
}
